{%  load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" initial-scale=1>
    <!--Bootstrap CSS-->
     <link rel="stylesheet" type="text/css" href="{% static 'css\bootstrap.min.css' %}">
	   <link rel="stylesheet" type="text/css" href="{% static 'css\music.css' %}">
     <link rel="stylesheet" type="text/css" href="{% static 'css\home.css' %}">
    <title>{% block title %}{% endblock title%}</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="\">Recipes</a>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="\">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Blog</a>
        </li>
      {% if request.user.is_authenticated %}
      <li>
          <button class="btn btn-danger" data-toggle="modal" data-target="#modal-report"><i class="feather icon-plus"></i> Add Recipe</button>
      </li>
      {% endif %}
          {% if request.user.is_authenticated %}

              <li class="nav-item">
                  <a class="nav-link" href="{% url 'account:logout' %}">
                      <button class="btn-danger">{{ user.first_name }} | Logout</button>
                  </a>
                </li>
          {% else %}
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Login
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <button class="btn btn-danger dropdown-item" data-toggle="modal" data-target="#modal-login" style="padding-left: 10px;">
                        <i class="feather icon-plus"></i> Login
                    </button>
                      <button class="btn btn-danger dropdown-item" data-toggle="modal" data-target="#modal-signup" style="padding-left: 10px;">
                        <i class="feather icon-plus"></i> Signup
                    </button>
                  </div>
                </li>
          {% endif %}
      </ul>
      <form class="form-inline my-2 my-lg-0" action="{% url 'recipe:search' %}">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <div class="space"></div>
  {% block header %}
  {% endblock header %}
  <!-- Footer -->

<footer class="page-footer font-small bg-dark">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="gridrow row mt-3">

      <!-- Grid column -->
      <div class=" gridcol col-md-3 col-lg-3 col-xl-3 mx-auto mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">Navigation</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="\">Home</a>
        <p>
          <a href="\poem">Blog</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="gridcol col-md-3 col-lg-3 col-xl-3 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Useful links</h6>
        <hr class="accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="\about-us">About Us</a>
        </p>
        <p>
          <a href="\advertise">Advertise</a>
        </p>
        <p>
          <a href="\privacy-policy">Privacy Policy</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="gridcol col-md-3 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>Nigeria</p>
        <p>admin@example.com</p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="gridcol col-md-3 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Social buttons -->
        <h6 class="text-uppercase font-weight-bold">Follow us</h6>
        <hr class="accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">

        <!-- Facebook -->
        <a href="https://www.facebook.com/lagosmp3">
          <img class="footer-img" src="{% static 'img/fb.png' %}">
        </a>
        <!-- Whatsapp -->
        <a href="https://api.whatsapp.com/send?phone=2349034742283">
          <img class="footer-img" src="{% static 'img/wp.png' %}">
        </a>
        <!-- Instagram -->
        <a href="https://www.instagram.com/majestylink">
          <img class="footer-img" src="{% static 'img/ig.png' %}">
        </a>
        <!-- Youtube -->
        <a href="https://www.youtube.com/channel/UCSqUZ86c0owFulaAfoW9b1A/">
          <img class="footer-img" src="{% static 'img/yb.png' %}">
        </a>
        <!-- Twitter -->
        <a href="https://www.twitter.com/majestylink6">
          <img class="footer-img" src="{% static 'img/tt.png' %}">
        </a>

      </div>
      <!-- Grid column -->


    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="gridcol footer-copyright text-center py-3">

    <p>© 2023 Copyright: Recipes Blog</p>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

    {% include 'login_modal.html' %}
    {% include 'signup.html' %}
    {% include 'add_recipe.html' %}




	<!--Bootstrap Javascript-->
  <script type="text/javascript" src="{% static 'js\jquery-3.4.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js\bootstrap.min.js' %}"></script>
</body>
</html>