<div class="modal fade" id="modal-login" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <p id="link-error" class="alert-dismissable alert-dark-primary alert alert"></p>
                <div class="modal-header">
                    <h5 class="modal-title">Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="recipe-create-form" method="post" enctype="multipart/form-data" action="{% url 'account:login' %}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="floating-label" for="Username">Username</label>
                                    <input required type="text" name="username" class="form-control" id="Username" placeholder="Enter your username">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group fill">
                                    <label class="floating-label" for="Password">Password</label>
                                    <input required type="password" name="password" class="form-control" id="Password" placeholder="Enter your password">
                                </div>
                            </div>

                        </div>
                        <button type="submit" class="btn btn-primary" aria-label="Close">Submit</button>
                        <button class="btn btn-danger">Clear</button>
                    </form>
                </div>
            </div>
        </div>
    </div>